<!-- EMR Application - Blockchain Page
By: Shiv Mangal, Isabella Smith and Julia Smith
This page allows the user to see the contents of the blockchain. -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="static/css/emrcss.css">
</head>

<!-- Header -->
<div class="header">
    <h1> EMR Application </h1>
</div>


<!-- Header Bar (Used to move between different pages)-->
<ul class = "bar">
    <li class = "bar"><a href="/home"><b>Home</a></li>
    <li class = "bar"><a href="/keypair">Create RSA Keypair</a></li>
    <li class = "bar"><a href="/firstvisit">New Patient</a></li>
    <li class = "bar"><a href="/patientvisit">Patient Visit</a></li>
    <li class = "bar"><a href="/block">View Blockchain</a></li>
  </ul>

<!-- This block of code obtains the contents of the blockchain from the python code (code needs to be running)-->
<h2>Blockchain Data</h2>
<div class="Welcome">
  <p>{{data.chain}}<br>
  <p></p><br>
</div>


<div class="footer">
  <p>By: Isabella Smith, Julia Smith and Shiv Mangal (2023)</p>
</div>