<!-- EMR Application - New Patient Page
By: Shiv Mangal, Isabella Smith and Julia Smith
This page allows the user to create a new patient in the blockchain. -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="static/css/emrcss.css">
</head>


<div class="header">
    <h1> EMR Application </h1>
</div>

<!-- Header Bar (Used to move between different pages)-->
<ul class = "bar">
    <li class = "bar"><a href="/home"><b>Home</a></li>
    <li class = "bar"><a href="/keypair">Create RSA Keypair</a></li>
    <li class = "bar"><a href="/firstvisit">New Patient</a></li>
    <li class = "bar"><a href="/patientvisit">Patient Visit</a></li>
    <li class = "bar"><a href="/block">View Blockchain</a></li>
  </ul>

<div class="patient">
    <h2>New Patient</h2>
</div>
<br/><br/><br/>

<!-- Form to Grab Input from User.
The resulting information will be stored in the blockchain in the application. -->
<form id="newpatient" action="/firstvisit" method="post" class="patient"> <!--onsubmit="return validation()"-->
    <label for="key">Key</label>
    <input type="text" id="key" name="key"><br><br>
    <label for="first">First Name</label>
    <input type="text" id="first" name="first"><br><br>
    <label for="last">Last Name:</label>
    <input type="text" id="last" name="last"><br><br>
    <label for="gender">Gender:</label>
    <input type="text" id="gender" name="gender"><br><br>
    <label for="birth">Birthday:</label>
    <input type="text" id="birth" name="birth"><br><br>
    <label for="nationality">Nationality:</label>
    <input type="text" id="nationality" name="nationality"><br><br>
    <label for="status">Martial Status:</label>
    <input type="text" id="status" name="status"><br><br>
    <label for="address">Address:</label>
    <input type="text" id="address" name="address"><br><br>
    <label for="number">Phone Number:</label>
    <input type="text" id="number" name="number"><br><br>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email"><br><br>
    <label for="allergies">Allergies:</label>
    <input type="text" id="allergies" name="allergies"><br><br>
    <label for="history">Family History:</label>
    <input type="text" id="history" name="history"><br><br>
    <label for="emergency">Emergency Contact:</label>
    <input type="text" id="emergency" name="emergency"><br><br>
    <input type="submit" value="Submit">
</form> 

<div class="footer">
    <p>By: Isabella Smith, Julia Smith and Shiv Mangal (2023)</p>
</div>


